<footer>
    <div class="footer-container">
        <div class="fcf_content">
            <div class="fcf_left">
                <div>
                    <img src="/img/site-logo.png" alt="site-logo">
                    <h2>Delights</h2>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut.</p>
            </div>

            <div class="fcf_right">
                <div class="email-input">
                    <div class="email-input-container">
                        <img src="/img/email.png" alt="email">
                        <input type="email" placeholder="enter your email" autocomplete="off">
                    </div>
                    <button>subscribe</button>
                </div>
                
                <div class="email-input-stats">
                    <img src="/img/checkmark-icon.png" alt="checkmark-icon">
                    <p>Join the N - number of persons that choose healthy food</p>
                </div>
            </div>
        </div>

        <div class="general-divider"></div>

        <div class="fcs_content">
            <div class="fcs_left">
                <h5>Explore by category</h5>

                <div class="fxf_categories">
                    <a href="/categories?">
                        <div class="fxf-category">
                            <figure>
                                <img src="/img/breakfast-icon.png" alt="breakfast-icon">
                            </figure>
                            <div class="category_details">
                                <h5>Breakfast</h5>
                                <p>Recipes ideal for the first meal of the day</p>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="fxf-category">
                            <figure>
                                <img src="/img/dessert-icon.png" alt="dessert-icon">
                            </figure>
                            <div class="category_details">
                                <h5>Desserts</h5>
                                <p>Treats that conclude with a sweet and satisfying note</p>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="fxf-category">
                            <figure>
                                <img src="/img/beverage-icon.png" alt="beverage-icon">
                            </figure>
                            <div class="category_details">
                                <h5>Beverages</h5>
                                <p>Recipes for various types of drinks</p>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="fxf-category">
                            <figure>
                                <img src="/img/lunch-icon.png" alt="lunch-icon">
                            </figure>
                            <div class="category_details">
                                <h5>Lunch</h5>
                                <p>Typically consumed between breakfast and dinner</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
 
            <div class="fcs_right">
                <h5>Menu</h5>

                <div class="menu_container">
                    <a href="">home</a>
                    <a href="">about</a>
                    <a href="">recipes</a>
                    <a href="">recipe single</a>
                    <a href="">contact</a>
                    <a href="">videos</a>
                    <a href="">video single</a>
                    <a href="">store</a>
                    <a href="">product single</a>
                </div>
            </div>
        </div>

        <div class="general-divider"></div>

        <div class="fst-content">
            <div class="fst-left">
                <p>Copyright © Delights</p>
            </div>

            <div class="fst-right-socials">
                <a href="">
                    <img class="def-img" src="/img/instagram-icon.png" alt="instagram-icon">
                    <img class="hover-img" src="/img/instagram-icon-refactored.png" alt="instagram-icon-refactored">
                </a>

                <a href="">
                    <img class="def-img" src="/img/facebook-icon.png" alt="facebook-icon">
                    <img class="hover-img" src="/img/facebook-icon-refactored.png" alt="facebook-icon-refactored">
                </a>

                <a href="">
                    <img class="def-img" src="/img/linkedin-icon.png" alt="linkedin-icon">
                    <img class="hover-img" src="/img/linkedin-icon-refactored.png" alt="linkedin-icon-refactored">
                </a>

                <a href="">
                    <img class="def-img" src="/img/youtube-icon.png" alt="youtube-icon">
                    <img class="hover-img" src="/img/youtube-icon-refactored.png" alt="youtube-icon-refactored">
                </a>
            </div>
        </div>
    </div>
</footer>