<div class="header">
    <div class="header-container">
        <div class="header-wrapper">
            <div class="left-hd">
                <a href="/">
                    <img src="/img/site-logo.png" alt="site-logo">
                    <span>Delights</span>
                </a>
                <nav>
                    <a href="/">home</a>
                    <a href="/about">about</a>
                    <a href="/recipes">recipes</a>
                    <a href="/community">pages <i class="fa-solid fa-angle-down"></i></a>
                </nav>
            </div>

            <div class="right-hd">
                <div>
                    <img src="/img/search-icon.png" alt="search-icon">
                    <input type="search" placeholder="search for recipes" autocomplete="off">
                </div>
                <% if(other.authenticated) { %>
                    <a href="/profile">
                        <div class="profile-container">
                            <img src="/img/default-pfp.gif" alt="default-pfp">
                        </div>
                    </a>

                    <div class="sub-menu-wrapper">
                        <div class="sub-menu-content">
                            <div class="user-info">
                                <img src="/img/default-pfp.gif" alt="default-pfp">
                                <h2>Jaime Palacios </h2>
                            </div>
                            <hr>

                            <a href="" class="sub-menu-link">
                                <img src="/img/default-pfp.gif" alt="default-pfp">
                                <p>Edit Profile</p>
                                <span>></span>
                            </a>

                            <a href="" class="sub-menu-link">
                                <img src="/img/default-pfp.gif" alt="default-pfp">
                                <p>Edit Profile</p>
                                <span>></span>
                            </a>

                            <a href="" class="sub-menu-link">
                                <img src="/img/default-pfp.gif" alt="default-pfp">
                                <p>Edit Profile</p>
                                <span>></span>
                            </a>

                            <a href="" class="sub-menu-link">
                                <img src="/img/default-pfp.gif" alt="default-pfp">
                                <p>Edit Profile</p>
                                <span>></span>
                            </a>
                        </div>
                    </div>
                <% } else { %>
                    <a href="/signup">
                        <div class="signup-container">
                            <button>Sign Up</button>
                            <img src="/img/signup-icon.png" alt="signup-icon">
                        </div>
                    </a>
                <% } %>
            </div>
        </div>
    </div>
</div>