<footer>
    <div class="f_container">
        <div class="fcf_content">
            <div class="fcf_left">
                <h2>diet x</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut.</p>
            </div>

            <div class="fcf_right">
                <div class="inpt_email">
                    <div>
                        <img src="/img/email.png" alt="email-icon">
                        <input type="text" placeholder="enter your email">
                        <button>subscribe</button>
                    </div>
                    <!-- <button>subscribe</button> -->
                </div>
                <p>Join the 10,000+ persons that choose healthy food</p>
            </div>
        </div>
        <div class="fcs_content">
            <div class="fcs_left">
                <h5>Explore by category</h5>

                <div class="fxf_categories">
                    <a href="">
                        <div class="category">
                            <img src="/img/email.png" alt="email-icon">
                            <div class="category_details">
                                <h5>Breakfast</h5>
                                <p>Recipes ideal for the first meal of the day</p>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="category">
                            <img src="/img/email.png" alt="email-icon">
                            <div class="category_details">
                                <h5>Desserts</h5>
                                <p>Conclusing meal with a sweet and satisfying note</p>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="category">
                            <img src="/img/email.png" alt="email-icon">
                            <div class="category_details">
                                <h5>Beverages</h5>
                                <p>Recipes for various types of drinks</p>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="category">
                            <img src="/img/email.png" alt="email-icon">
                            <div class="category_details">
                                <h5>Lunch</h5>
                                <p>Meal consumed between breakfast and dinner</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
 
            <div class="fcs_right">
                <h5>Menu</h5>

                <div class="menu_container">
                    <a href="">home</a>
                    <a href="">about</a>
                    <a href="">recipes</a>
                    <a href="">recipe single</a>
                    <a href="">contact</a>
                    <a href="">videos</a>
                    <a href="">video single</a>
                    <a href="">store</a>
                    <a href="">product single</a>
                </div>
            </div>
        </div>
    </div>
</footer>