<div class="header">
    <div class="header-container">
        <div class="header-wrapper">
            <div class="left-hd">
                <a href="/">
                    <img src="/img/site-logo.png" alt="site-logo">
                    <span>Delights</span>
                </a>
                <nav>
                    <a href="/">home</a>
                    <a href="/about">about</a>
                    <a href="/recipes">recipes</a>
                    <a href="/community">community</a>
                </nav>
            </div>

            <div class="right-hd">
                <div>
                    <img src="/img/search-icon.png" alt="search-icon">
                    <input type="search" placeholder="search for recipes">
                </div>
                <a class="img-container">
                    <img src="/img/default-pfp.gif" alt="default-pfp">
                </a>
            </div>
        </div>
    </div>
</div>