* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
}
/* Reusable Styling */
.custom-hrs {
    border: none; 
    height: 2px; 
    background-color: #FF9E3D; 
}

/* Header Styling */
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    background-color: red;
    max-width: 1350px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 6px 28px 0 rgba(0, 0, 0, 0.06);
}
.header-container {
    max-width: 1350px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 32px;
    padding-left: 32px;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-hd {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
}
.left-hd > a {
    color: black;
    display: flex;
    height: fit-content;
    align-items: center;
    margin-right: 30px;
    text-decoration: none;
}
.left-hd > a > img {
    height: 40px;
}
.left-hd > a > span {
    font-weight: 600;
    font-size: 25px;
}
.left-hd > nav {
    display: flex;
    list-style: none;
}
.left-hd > nav > a {
    margin-right: 15px;
    color: black;
    text-decoration: none;
    transition: color 350ms ease;
}
.left-hd > nav > a:hover {
    color: #FF9E3D  ;
}
.img-container {
    width: 50px; /* Adjust the size of the container as needed */
    height: 50px;
    border-radius: 50%; /* Create a circular shape */
    overflow: hidden; /* Clip the content to the shape */
}
.img-container > img {
    width: 100%; /* Make the image fill the container */
    height: 100%;
    object-fit: cover; 
}

.right-hd {
    display: flex;
    align-items: center;
}
.right-hd > div {
    display: flex;
    align-items: center;
    position: relative;
}

.right-hd > div > img {
    cursor: pointer;
    position: absolute;
    height: 30px;
    margin-left: 15px;
    padding-top: 2px;
}
.right-hd > div > input {
    min-height: 56px;
    margin-right: 32px;
    min-width: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 52px;
    border: 1px none transparent;
    background-color: #fafafa;
    color: #040404;
    font-size: 17px;
    line-height: 1.2;
    text-transform: lowercase;
}


/* ------------------------------ Home ------------------------------ */
/* First Section */
.first-sect {
    display: flex;
    height: 1185px;
}
.f-left-side {
    padding-left: 100px;
    width: 50%;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.fls-wrapper {
    margin-top: 215px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    height: fit-content;
}
.fls-content {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    width: 60%;
}
.fls-content > hr {
    width: 22%;
}
.fls-content > h1 {
    font-size: 55px;
}
.fls-btns {
    display: flex;
}
.fls-btns > a {
    margin-right: 25px;
}
.btw-btns { /* Black to White buttons */
    position: relative;
    overflow: hidden;
    padding: 24px 42px;
    border: 1px solid transparent;
    background-color: black;
    color: #fff;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
}

.wtb-btns { /* White to Black buttons */
    position: relative;
    overflow: hidden;
    padding: 24px 42px;
    border: 1px solid black;
    background-color: white;
    color: black;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
}
.f-right-side {
    padding-right: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 140, 0, 0.08);
}
.frs-wrapper {
    margin-top: 210px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.frs-content {
    position: absolute;
    left: -60px;
    display: flex;
    width: fit-content;
    height: fit-content;
}
.frs-left-imgs {
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    margin-right: 30px;
}
.frs-left-imgs > img {
    height: 370px;
    margin-bottom: 30px;
    width: 420px;
    object-fit: cover;
}
.frs-right-imgs {
    display: flex;
    margin-top: 120px;
    flex-direction: column;
}
.frs-right-imgs > img {
    height: 370px;
    width: 420px;
    margin-bottom: 30px;
    object-fit: cover;
}
/* Second Section */
.second-sect {
    padding-top: 135px;
    padding-bottom: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ss-wrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    text-align: center;
}
.ss-categories {
    margin-top: 50px;
    display: flex;
    width: fit-content;
    height: fit-content;
}
.ss-categories > a { 
    display: flex;
    width: 240px;
    text-decoration: none;
    height: fit-content;
    color: black;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease;
}
.ss-categories > a:hover {
    transform: scale(0.95);
    transition: transform 0.4s ease;
}
.ss-categories > a:hover hr {
    width: 45%;
    transition: width 0.4s ease;
}
.ss-categories > a > figure {
    padding: 50px;
    display: flex;
    background-color: rgba(255, 140, 0, 0.08);
    justify-content: center;
    
}
.ss-categories > a > figure > img {
    height: 140px;
    object-fit: cover;
}
.ss-categories > a > hr {
    transition: width 0.4s ease;
    width: 15%;
    border: none; 
    height: 2px; 
    background-color: #FF9E3D; 
    margin-top: 25px;
    margin-bottom: 15px;
}
.ss-categories > a  > h3 {
    font-size: 22px;
    margin-bottom: 16px;
    line-height: 1.2727272727272727;
    font-weight: 500;
}
.ss-categories > a > p {
    color: #5f5f5f;
    width: 89%;
    text-align: center;
}
/* Third Section */
.third-sect {
    padding-top: 200px;
    height: max-content;
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 140, 0, 0.08);
}
.third-sect > button {
    padding: 24px 42px;
    border: 1px solid transparent;
    background-color: black;
    color: #fff;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 100px;
}
.ts-wrapper {
    width: 1400px; 
    display: flex;
    margin-bottom: 275px;
    flex-direction: column;
}
.ts-heading {
    display: flex;
    justify-content: space-between;
}
.tsh-btns {
    display: flex;
}
.tsh-btns > button {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 25px;
    border: 1px solid #000;
    width: 80px;
    cursor: pointer;
    color: white;
    font-size: 40px;
    background-color: black;
}
.feat-recipes {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.ft-recipe {
    position: relative;
}
.ft-recipe-img {
    position: relative;
}
.ft-recipe-img > img {
    height: 320px;
    width: 580px;
    object-fit: cover;
}
.ft-recipe-img > button {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 16px 22px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 500;
    z-index: 2;
    border: none;
}
.ft-recipe-dscrp {
    bottom: -215.5px;
    position: absolute;
    display: flex;
    padding: 0px 48px 40px;
    background-color: white;
    width: 76%;
    flex-direction: column;
}
.ft-recipe-dscrp > p {
    color: #5f5f5f;
}
.ft-recipe-dscrp > hr {
    margin-top: 50px;
    margin-bottom: 50px;
}
.ft {
    transition: width 0.4s ease;
    width: 8%;
    border: none; 
    height: 2px; 
    background-color: #FF9E3D; 
}
.ft-recipe-details {
    display: flex;
}
.ft-recipe-details > div {
    margin-right: 10px;
    display: flex;
}
.ft-recipe-details > div > img {
    height: 25px;
    margin-right: 5px;
}
/* ------------------------------ UI Dynammic Footer Styling ------------------------------ */
footer {
    background-color: black;
    top: 100%;
    position: sticky;
    display: flex;
    justify-content: center;
}
#page {
    display: none;
}
.f_container {
    display: flex;
    flex-direction: column;
    width: 1270px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: lightgrey;
}
.fcf_content {
    display: flex;
    padding: 100px 0px;
    justify-content: space-around;
}
.fcf_left {
    display: flex;
    flex-direction: column;
}
.inpt_email > div {
    display: flex;
    align-items: center;
    width: fit-content;
    position: relative;
}
.inpt_email > div > img {
    position: absolute;
    height: 50px;
}
.inpt_email > div > input {
    width: 100%;
    font-size: 18px;
    min-height: 69px;
    padding-left: 17%;
    border-style: none;
    border-width: 0px;
    border-color: #040404;
    background-color: #fafafa;
}
.inpt_email > div > button {
    height: auto;
    background-color: black;
    color: white;
    position: relative;
    z-index: 2;
    max-height: 100%;
    min-height: 100%;
    border: 1px solid transparent;
    padding: 24px 32px;
}
.fcs_content {
    height: fit-content;
    display: flex;
    padding: 100px 0px;
    justify-content: space-around;
}
.fcs_left {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.fcs_left > h5 {
    font-size: 18px;
    margin-bottom: 32px;
}
.fxf_categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 560px;
}
.fxf_categories > a {
    text-decoration: none;
}
.fxf_categories > a:hover .category_details > h5 {
    color: #FF9E3D  ;
}
.fxf-category {
    display: flex;
    margin-bottom: 20px;
}
.fxf-category > img {
    height: 150px;
    object-fit: cover;
}
.category_details {
    display: flex;
    flex-direction: column;
}
.category_details > h5 {
    font-size: 18px;
    color: black;
    transition: color 0.4s ease-in-out;
    font-weight: 800;
}
.category_details > p {
    width: 100px;
    color: black;
}
.fcs_right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
}
.fcs_right > h5 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 32px;
}
.menu_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.menu_container > a {
    margin-bottom: 15px;
    color: black;
    text-decoration: none;
}





