* {
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', sans-serif; 
    /* https://fonts.google.com/specimen/DM+Sans?query=DM+Sans */
}

body {
    min-height: 100vh;
}

/* Reusable Styling */
.custom-hrs {
    border: none; 
    min-height: 2px; 
    background-color: #FF9E3D; 
}
.general-divider {
    width: 100%;
    height: 1px;
    background-color: #dcdcdc;
}



/* First Section */
.first-sect {
    display: flex;
    justify-content: center;
    height: 1185px;
    border-bottom: 1px solid #dcdcdc;
} 
.f-left-side {
    width: 50%;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.fls-wrapper {
    margin-top: 191px;
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.fls-content {
    position: absolute;
    right: 95px;
    top: 0;
    margin-top: 150px;
    width: 515px;
    display: flex;
    flex-direction: column;
}
.fsec-hr {
    margin-bottom: 40px;
    width: 120px;
}
.fls-content > h1 {
    margin-top: 0px;
    margin-bottom: 24px;
    color: #040404;
    font-size: 52px;
    line-height: 1.2 6;
    font-weight: 500;
}
.fls-content > p {
    line-height: 1.667;
    font-size: 18px;
    margin-bottom: 2.5px;
    color: #5f5f5f;
}
.fls-btns {
    margin-top: 48px;
    display: flex;
}
.fls-btns > a {
    margin-right: 25px;
}

/* Black to White buttons */
.btt-btns {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background-color: black;
    color: white;
    border: 1px solid black;
    text-transform: lowercase;
    padding: 23px 42px;
    font-size: 18px;
    cursor: pointer;
}
.btt-txt {
    z-index: 1;
    position: relative;
    transition: color 0.3s;
}
.btt-slide {
    position: absolute;
    top: 0;
    left: 100%; 
    width: 100%;
    height: 100%;
    background-color: white;
    transition: left 0.3s;
}
.btt-btns:hover .btt-slide {
    left: 0;
}
.btt-btns:hover .btt-txt {
    color: black;
}
    
/* White to Black buttons */
.ttb-btns {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background-color: white;
    color: black;
    border: 1px solid black;
    text-transform: lowercase;
    padding: 23px 42px;
    font-size: 18px;
    cursor: pointer;
}
.ttb-txt {
    z-index: 1;
    position: relative;
    transition: color 0.3s;
}
.ttb-slide {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: left 0.3s;
}
.ttb-btns:hover .ttb-slide {
    left: 0;
}
.ttb-btns:hover .ttb-txt {
    color: white;
}


.f-right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 140, 0, 0.08);
}
.frs-wrapper {
    margin-top: 210px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.frs-content {
    position: absolute;
    left: -50px;
    display: flex;
    width: fit-content;
    height: fit-content;
}
.frs-left-imgs {
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    margin-right: 30px;
}
.frs-left-imgs > img {
    height: 340px;
    width: 390px;
    margin-bottom: 30px;
    object-fit: cover;
}
.frs-right-imgs {
    display: flex;
    margin-top: 120px;
    flex-direction: column;
}
.frs-right-imgs > img {
    height: 340px;
    width: 390px;
    margin-bottom: 30px;
    object-fit: cover;
}


/* Second Section */
.second-sect {
    padding-top: 125px;
    padding-bottom: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ss-wrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    text-align: center;
}
.ss-wrapper > h2 {
    margin-bottom: 16px;
    color: black;
    font-size: 32px;
    line-height: 1.4;
    font-weight: 500;
}
.ss-categories {
    margin-top: 50px;
    display: flex;
    width: fit-content;
    height: fit-content;
}
.ss-categories > a { 
    display: flex;
    width: 240px;
    text-decoration: none;
    height: fit-content;
    color: black;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease;
}
.ss-categories > a:hover {
    transform: scale(0.95);
    transition: transform 0.4s ease;
}
.ss-categories > a:hover hr {
    width: 45%;
    transition: width 0.4s ease;
}
.ss-categories > a > figure {
    padding: 45px;
    display: flex;
    background-color: rgba(255, 140, 0, 0.08);
    justify-content: center;
}
.ss-categories > a > figure > img {
    height: 130px;
    width: 130px;
    object-fit: cover;
}
.ssect-hr {
    transition: width 0.4s ease;
    width: 41px;
    border: none; 
    height: 2px; 
    background-color: #FF9E3D; 
    margin-top: 25px;
    margin-bottom: 15px;
}
.ss-categories > a  > h3 {
    font-size: 22px;
    margin-bottom: 16px;
    line-height: 1.2727272727272727;
    font-weight: 500;
}
.ss-categories > a > p {
    color: #5f5f5f;
    width: 85%;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
}
/* Third Section */
.third-sect {
    padding-top: 230px;
    height: max-content;
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 140, 0, 0.08);
}
.third-sect > button {
    padding: 24px 42px;
    border: 1px solid transparent;
    background-color: black;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    line-height: 1;
    margin-bottom: 240px;
}
.ts-wrapper {
    width: 1220px; 
    display: flex;
    margin-bottom: 330px;
    flex-direction: column;
}
.ts-heading {
    display: flex;
    justify-content: space-between;
}
.ts-heading > h2 {
    color: black;
    font-size: 32px;
    line-height: 1.4;
    font-weight: 500;
}
.tsh-btns {
    display: flex;
    justify-content: space-between;
}
.tsh-btns > button {
    width: 60px;
    margin-right: 10px;
    cursor: pointer;
    min-height: 60px;
    border: 1px solid #000;
    background-color: #040404;
    color: white;
    transition: transform 300ms ease, background-color 300ms ease, color 300ms ease;
    font-size: 25px;
    transform-style: preserve-3d;
}
.feat-recipes {
    display: flex;
    margin-top: 45px;
}
.feat-recipes > a {
    text-decoration: none;
}
.feat-recipes > a:hover .ft-recipe-img img{
    transform: scale(1.05);
}
.feat-recipes > a:hover .ft-recipe-dscrp {
    bottom: -74%;
}
.ft-recipe {
    margin-right: 50px;
    position: relative;
}
.ft-recipe-img {
    overflow: hidden;
    position: relative;
}
.ft-recipe-img > img {
    height: 340px;
    transition: 0.4s ease;
    width: 600px;
    object-fit: cover;
}
.ft-recipe-img > button {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 16px 22px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 500;
    z-index: 2;
    border: none;
}
.ft-recipe-dscrp {
    bottom: -78%;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.06);
    position: absolute;
    display: flex;
    padding: 42px 48px 40px;
    background-color: white;
    transition: 0.4s ease;
    width: 77%;
    flex-direction: column;
}
.ft-recipe-dscrp > h3 {
    color: black;
    margin-bottom: 12px;
}
.ft-recipe-dscrp > hr {
    color: black;
}
.ft-recipe-dscrp > p {
    line-height: 30px;
    color: #5f5f5f;
    margin-bottom: 40px;
}
.ft {
    transition: width 0.4s ease;
    width: 8%;
    margin-top: 16px;
    margin-bottom: 16px;
    border: none; 
    height: 2px; 
    background-color: #FF9E3D; 
}
.ft-recipe:hover .ft {
    width: 29%;
    transition: width 0.4s ease;
}
.ft-recipe-details {
    margin-top: 28px;
    display: flex;
}
.ft-recipe-details > div {
    margin-right: 10px;
    display: flex;
}
.ft-recipe-details > div > img {
    height: 25px;
    margin-right: 5px;
}
.ft-recipe-details > div > span {
    color: black;
}
/* Fourth Section */
.fourth-sect {
    padding-top: 240px;
    padding-bottom: 170px;
    height: max-content;
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fths-wrapper {
    width: 1220px; 
    display: flex;
    flex-direction: column;
}
.fs-heading {
    display: flex;
    justify-content: space-between;
}
.fs-heading > h2 {
    color: #040404;
    font-size: 32px;
    font-weight: 500;
}

.latest-recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 45px;
}
.latest-recipes > a {
    text-decoration: none;
}
.latest-recipes > a:hover .lat-recipe-img > img {
    transform: scale(1.12);
}
.latest-recipes > a:hover .lat-recipe {
    transform: scale(0.95);
}
.lat-recipe {
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.06);
    position: relative;
    margin-bottom: 25px;
    width: 390px;
    transition: 0.4s ease;
}
.lat-recipe-img {
    height: fit-content;
    display: flex;
    overflow: hidden;
    width: max-content;
    position: relative;
}
.lat-recipe-img > img {
    height: 390px;
    transition: 0.4s ease;
    width: 390px;
    object-fit: cover;
}
.lat-recipe-img > button {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 16px 22px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-transform: lowercase;
    z-index: 2;
    border: none;
}
.lat-recipe-dscrp {
    display: flex;
    margin-top: 32px;
    padding: 24px 30px;
    width: auto;
    background-color: white;
    transition: 0.4s ease;
    flex-direction: column;
}
.lat {
    transition: width 0.4s ease;
    width: 19%;
    margin-bottom: 16px;
    border: none; 
    height: 2px; 
    background-color: #FF9E3D; 
}
.lat-recipe:hover .lat {
    transition: width 0.4s ease;
    width: 45%;
}
.lat-recipe-dscrp > h3 {
    margin-bottom: 16px;
    color: #040404;
    font-size: 26px;
    font-weight: 500;
}
.lat-recipe-dscrp > p {
    margin-bottom: 56px;
    font-size: 18px;
    line-height: 30px;
    color: #5f5f5f;
}
.lat-recipe-details {
    display: flex;
    margin-top: 28px;
}
.lat-recipe-details > div {
    margin-right: 10px;
    display: flex;
}
.lat-recipe-details > div > img {
    height: 25px;
    margin-right: 5px;
}

.lat-recipe-details > div > span {
    color: black;
    font-weight: 500;
}
.email-signup-container {
    max-width: 1400px;
    margin-top: 215px;
    padding: 120px 60px;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 4px 48px 0 rgba(0, 0, 0, 0.06);
    display: flex;
}
.email-dscrp {
    display: flex;
    flex-direction: column;
}

.email-header {
    display: flex;
}
.email-header > img {
    height: 50px;
    object-fit: cover;
    margin-right: 32px;
}
.email-header-txt > h2 {
    margin-bottom: 16px;
    color: #040404;
    font-size: 30px;
    font-weight: 500;
}
.email-header-txt > p {
    line-height: 30px;
    font-size: 18px;
    color: #777777;
}
.email-signup {
    display: flex;
    margin-left: 32px;
    flex-direction: column;
}
.email-input {
    display: flex;
    margin: 0 0 15px;
}
.email-input > button {
    padding: 24px 42px;
    border: 1px solid transparent;
    background-color: black;
    transition: border-color 200ms ease, color 300ms ease, background-color 300ms ease;
    color: #fff;
    font-size: 18px;
    height: auto;
    line-height: 1;
    text-align: center;
    text-transform: lowercase;
}
.email-input-container {
    position: relative;
    display: flex;
    align-items: center;
}
.email-input > button {
    padding: 24px 34px;
    border: 1px solid transparent;
    background-color: black;
    transition: border-color 200ms ease, color 300ms ease, background-color 300ms ease;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    height: auto;
    z-index: 2;
    line-height: 1;
    text-align: center;
    text-transform: lowercase;
}
.email-input-container > img {
    position: absolute;
    height: 20px;
    left: 15px;
}
.email-input-container > input {
    min-height: 40px;
    min-width: 350px;
    padding-top: 18px;
    padding-bottom: 20px;
    padding-left: 17%;
    background-color: #fafafa;
    color: #040404;
    border-style: none;
    border-color: #040404;
    border-radius: 0px;
    font-size: 17px;
    line-height: 1.2;
}
.email-input-container > input:focus {
    outline: none;
}
.email-input-stats {
    display: flex;
}
.email-input-stats > img {
    height: 22.5px;
    margin-right: 12px;
}
.email-input-stats > p {
    font-size: 17px;
    color: #777777;
}
/* Fifth Section */
.fifth-sect {
    padding-top: 70px;
    padding-bottom: 225px;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    align-items: center;
}
.fts-wrapper {
    justify-content: space-between;
    display: flex;
    width: 1220px;
}
.fts-leftside {
    display: flex;
    width: 50%;
    align-items: center;
}
.fts-socials-container {
    position: relative;
    display: flex;
    flex-direction: column;
}
.fts-socials-container > img {
    width: 533px;
    height: 630px;
    object-fit: cover;
}
.site-social-links {
    position: absolute;
    left: auto;
    top: auto;
    right: -80px;
    bottom: -54px;
    display: flex;
    flex-direction: column;
    padding: 56px;
    background-color: #fff;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.06);
}
.site-social-links > h2 {
    font-weight: 500;
}
.site-social-links > span { 
    margin-top: 15px;
    font-size: 18px;
    color: #777777;
}
.social-links {
    display: flex;
    margin-top: 15px;
}
.social-links > a {
    margin-right: 10px;
    text-decoration: none;
}
.social-links > a > img {
    height: 32.5px;
}
.hover-img {
    display: none;
}
.social-links > a:hover .def-img {
    display: none;
}
.social-links > a:hover .hover-img {
    display: block;
}
.fts-leftside-details {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.fts-rightside {
    display: flex;
    width: 50%;
    margin-left: 180px;
    align-items: center;
}
.fts-site-details {
    display: flex;
    width: 75%;
    flex-direction: column;
}
.fts {
    width: 25%;
}
.fts-site-details > h2 {
    color: #333;
    margin-top: 30px;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 22px;
}
.fts-site-details > p {
    color: #777777;
    line-height: 30px;
    font-size: 17px;
    margin-bottom: 20px;
}
.about-list {
    list-style: none;
    margin-bottom: 16px;
}
.about-list > li {
    margin-bottom: 16px;
    position: relative;
    display: flex;
    padding-left: 20px;
    font-size: 18.5px;
    align-items: center;
    color: black;
    font-weight: 500;
}
.about-list > li .bullet-dot {
    position: absolute;
    left: 0px;
    top: auto;
    bottom: auto;
    width: 6px;
    min-height: 6px;
    align-self: center;
    border-radius: 50%;
    background-color: #81d489;
}
.fts-site-details > button {
    position: relative;
    overflow: hidden;
    padding: 24px 42px;
    cursor: pointer;
    width: fit-content;
    border: 1px solid transparent;
    background-color: black;
    color: #fff;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
}
/* Sixth Section */
.sixth-sect {
    border-bottom: 1px solid #dcdcdc;
    padding-top: 160px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sxt-wrapper {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 1220px;
}
.sxt-heading {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.sxt-heading > h2 {
    color: black;
    font-size: 32px;
    line-height: 1.4;
    font-weight: 500;

}
.instagram-fliks {
    display: flex;
    justify-content: space-between;
}
.instagram-fliks > a:hover .fliks-container  img  {
    opacity: 0.6;
    transform: scale(1.04);
    transition: 0.4s ease;
}
.fliks-container {
    position: relative;
    overflow: hidden;
}
.fliks-container > img {
    height: 210px;
    width: 210px;
    transition: 0.4s ease;
    object-fit: cover;
}