<div class="table-container">
    <header class="table-header">
        <h2><%= other.page %></h2>
        <hr>
    </header>

    <div class="table-options">
        <div class="options">
            <button class="opBtn delete">DELETE</button>
            <button class="opBtn update">UPDATED</button>
        </div>
    </div>

    <table class="table table-sm table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col"><input type="checkbox" class="all-rows"></th>
                <th scope="col">#</th>
                <th scope="col">Recipe</th>
                <th scope="col">Description</th>
                <th scope="col">Ingredients</th>
                <th scope="col">Instructions</th>
                <th scope="col">From</th>
                <th scope="col">Date Modified</th>
                <th scope="col">Prep Time</th>
                <th scope="col">Cook Time</th>
                <th scope="col">Total Time</th>
                <th scope="col">Servings</th>
                <th scope="col">Difficulty</th>
                <th scope="col">Rating</th>
                <th scope="col">Category (#id)</th>
                <th scope="col">Featured (1/0)</th>
                <th scope="col">Public (1/0)</th>
                <th scope="col">Source</th>
                <th scope="col">Source Name</th>
                <th scope="col">Notes</th>
                <th scope="col">Image</th>
                <th><hr></th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>