<div class="table-container">
    <header class="table-header">
        <h2><%= other.page %></h2>
        <hr>
    </header>

    <div class="table-options">
        <div class="options">
            
        </div>
    </div>

    <table class="table table-sm table-bordered table-hover">
        <thead class="table-light">
            <tr>
                
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>