<section>
    <div id="feed_wrapper">
        <div id="media_options">
            <div>
                <img src="/img/black-home-50.png" alt="black-home-50">
                <button>Home</button>
            </div>

            <div>
                <img src="/img/search-50.png" alt="search-50">
                <button>Search</button>
            </div>

            <div>
                <img src="/img/explore-50.png" alt="explore-50">
                <button>Explore</button>
            </div>

            <div>
                <img src="/img/chat-bubble-50.png" alt="chat-bubble-50">
                <button>Messages</button>
            </div>

            <div>
                <img src="/img/notification-50.png" alt="notification-50">
                <button>Notifications</button>
            </div>

            <div>
                <img src="/img/create-50.png" alt="create-50">
                <button>Create</button>
            </div>

            <div>
                <img src="/img/default-pfp.gif" alt="default-pfp">
                <button>Profile</button>
            </div>
        </div>

        <div id="feed_container">
            <div class="post_container">
                <div class="post_heading">
                    <div class="post_acc">
                        <a href="#">
                            <img src="/img/default-pfp.gif" alt="default-pfp">
                            <span class="post_acc_user">advice</span>
                        </a>
                    </div>
                    
                    <img src="/img/three-dots-50.png" alt="three-dots">
                </div>

                <div class="post_content">
                    <img src="/img/home-img1.jpg" alt="home-img1">
                </div>

                <div class="post_actions">
                    <img src="/img/heart-50.png" alt="heart">
                    <img src="/img/comment-50.png" alt="comment-50">
                </div>

                <span class="likes">3,456 likes</span>

                <p class="post_caption"><span class="post_acc_user"><a href="#">advice</a></span> Follow @kekoamac and DM him "START" to learn the secrets of making these culinary themes</p>
                
                <p class="view_comm_txt">View all 156 comments</p>

                <input class="post_comment_inp" type="text" placeholder="Add a comment...">
            </div>
            <div class="general-divider gndivcustom"></div>

            <div class="post_container">
                <div class="post_heading">
                    <div class="post_acc">
                        <a href="#">
                            <img src="/img/default-pfp.gif" alt="default-pfp">
                            <span class="post_acc_user">advice</span>
                        </a>
                    </div>
                    
                    <img src="/img/three-dots-50.png" alt="three-dots">
                </div>

                <div class="post_content">
                    <img src="/img/home-img1.jpg" alt="home-img1">
                </div>

                <div class="post_actions">
                    <img src="/img/heart-50.png" alt="heart">
                    <img src="/img/comment-50.png" alt="comment-50">
                </div>

                <span class="likes">3,456 likes</span>

                <p class="post_caption"><span class="post_acc_user"><a href="#">advice</a></span> Follow @kekoamac and DM him "START" to learn the secrets of making these culinary themes</p>
                
                <p class="view_comm_txt">View all 156 comments</p>

                <input class="post_comment_inp" type="text" placeholder="Add a comment...">
            </div>
            <!-- <div class="general-divider gndivcustom"></div> -->
            
            <div id="more_posts_container">
                <img id="more_posts_btn" src="/img/plus-50.png" alt="plus-50">
            </div>
        </div>

        <div id="profile_suggest_container">
            
        </div>
    </div>
</section>