<section class="first-sect"> <!-- First Section-->
        <div class="f-left-side">
            <div class="fls-wrapper">
                <div class="fls-content">
                    <hr class="custom-hrs fsec-hr">
                    <h1>Come & explore my nutritious and delicious recipes</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut.</p>
                    <div class="fls-btns">
                        <a href="/recipes">
                            <button class="btw-btns">discover recipes</button>
                        </a>
                        <a href="/about">
                            <button class="wtb-btns">about</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="f-right-side">
            <div class="frs-wrapper">
                <div class="frs-content">
                    <div class="frs-left-imgs">
                        <img src="/img/home-img1.jpg" alt="home-img1">
                        <img src="/img/home-img1.jpg" alt="home-img1">
                    </div>
    
                    <div class="frs-right-imgs">
                        <img src="/img/home-img1.jpg" alt="home-img1">
                        <img src="/img/home-img1.jpg" alt="home-img1">
                    </div>
                </div>
            </div>
        </div>
</section>
 
<section class="second-sect"> <!-- Second Section | Main Categories -->
    <div class="ss-wrapper">
        <h2>Browse recipes by category</h2>
        <div class="ss-categories">
            <a href="/recipes/breakfast">
                <figure>
                    <img src="/img/breakfast-icon.png" alt="breakfast-icon">
                </figure>
                <hr class="custom-hrs ssect-hr">
                <h3>Breakfast</h3>
                <p>Recipes ideal for the first meal of the day</p>
            </a>
    
            <a href="/recipes/lunch">
                <figure>
                    <img src="/img/lunch-icon.png" alt="lunch-icon">
                </figure>
                <hr class="custom-hrs ssect-hr">
                <h3>Lunch</h3>
                <p>Typically consumed between breakfast and dinner</p>
            </a>
    
            <a href="/recipes/beverages">
                <figure>
                    <img src="/img/beverage-icon.png" alt="beverage-icon">
                </figure>
                <hr class="custom-hrs ssect-hr">
                <h3>Beverages</h3>
                <p>Recipes for various types of drinks</p>
            </a>
    
            <a href="/recipes/lunch">
                <figure>
                    <img src="/img/dessert-icon.png" alt="dessert-icon">
                </figure>
                <hr class="custom-hrs ssect-hr">
                <h3>Desserts</h3>
                <p>Treats that conclude with a sweet and satisfying note</p>
            </a>
        </div>
    </div>
</section>

<section class="third-sect"> <!-- Third Section | Featured Recipes -->
    <div class="ts-wrapper">
        <div class="ts-heading">
            <h2>Browse our featured recipes</h2>
            <div class="tsh-btns">
                <button><</button>
                <button>></button>
            </div>
        </div>
        
        <div class="feat-recipes">
            <a href="">
                <div class="ft-recipe">
                    <div class="ft-recipe-img">
                        <img src="/img/home-img1.jpg" alt="home-img1">
                        <button>featured</button>
                    </div>
    
                    <div class="ft-recipe-dscrp">
                        <hr class="custom-hrs ft">
                        <h3>Almond & orange crepes</h3>
                        <p>Lorem ipsum dolor sit amet conse dolo ctetur adipiscing elit dictum.</p>
                        <div class="general-divider"></div>
                        <div class="ft-recipe-details">
                            <div>
                                <img src="/img/clock-icon.png" alt="clock-icon">
                                <span>25 min</span>
                            </div>
    
                            <div>
                                <img src="/img/user-icon.png" alt="user-icon">
                                <span>6 servings</span>
                            </div>
                            <div>
                                <img src="/img/difficulty-icon.png" alt="difficulty-icon">
                                <span>easy</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="ft-recipe">
                    <div class="ft-recipe-img">
                        <img src="/img/home-img1.jpg" alt="home-img1">
                        <button>featured</button>
                    </div>
    
                    <div class="ft-recipe-dscrp">
                        <hr class="custom-hrs ft">
                        <h3>Almond & orange crepes</h3>
                        <p>Lorem ipsum dolor sit amet conse dolo ctetur adipiscing elit dictum.</p>
                        <div class="general-divider"></div>
                        <div class="ft-recipe-details">
                            <div>
                                <img src="/img/clock-icon.png" alt="clock-icon">
                                <span>25 min</span>
                            </div>
    
                            <div>
                                <img src="/img/user-icon.png" alt="user-icon">
                                <span>6 servings</span>
                            </div>
                            <div>
                                <img src="/img/difficulty-icon.png" alt="difficulty-icon">
                                <span>easy</span>
                            </div>
                        </div>
                    </div>
                </div> 
            </a>
        </div>
    </div>
    <button>discover more recipes</button>
</section>

<section class="fourth-sect"> <!-- Fourth Section | Latest Recipes -->
    <div class="fths-wrapper">
        <div class="fs-heading">
            <h2>Browse our latest recipes</h2>
            <button>browse all recipes</button>
        </div>

        <div class="latest-recipes">
            <a href="">
                <div class="lat-recipe">
                    <div class="lat-recipe-img">
                        <img src="/img/home-img1.jpg" alt="breakfast-icon">
                        <button>breakfast</button>
                    </div>

                    <div class="lat-recipe-dscrp">
                        <hr class="custom-hrs lat">
                        <h3>Almond & orange crepes</h3>
                        <p>Lorem ipsum dolor sit amet conse dolo ctetur adipiscing elit dictum.</p>
                        <div class="general-divider"></div>

                        <div class="lat-recipe-details">
                            <div>
                                <img src="/img/clock-icon.png" alt="clock-icon">
                                <span>30 min</span>
                            </div>

                            <div>
                                <img src="/img/user-icon.png" alt="user-icon">
                                <span>6 servings</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="lat-recipe">
                    <div class="lat-recipe-img">
                        <img src="/img/home-img1.jpg" alt="breakfast-icon">
                        <button>breakfast</button>
                    </div>

                    <div class="lat-recipe-dscrp">
                        <hr class="custom-hrs lat">
                        <h3>Almond & orange crepes</h3>
                        <p>Lorem ipsum dolor sit amet conse dolo ctetur adipiscing elit dictum.</p>
                        <div class="general-divider"></div>

                        <div class="lat-recipe-details">
                            <div>
                                <img src="/img/clock-icon.png" alt="clock-icon">
                                <span>30 min</span>
                            </div>

                            <div>
                                <img src="/img/user-icon.png" alt="user-icon">
                                <span>6 servings</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="lat-recipe">
                    <div class="lat-recipe-img">
                        <img src="/img/home-img1.jpg" alt="breakfast-icon">
                        <button>breakfast</button>
                    </div>

                    <div class="lat-recipe-dscrp">
                        <hr class="custom-hrs lat">
                        <h3>Almond & orange crepes</h3>
                        <p>Lorem ipsum dolor sit amet conse dolo ctetur adipiscing elit dictum.</p>
                        <div class="general-divider"></div>

                        <div class="lat-recipe-details">
                            <div>
                                <img src="/img/clock-icon.png" alt="clock-icon">
                                <span>30 min</span>
                            </div>

                            <div>
                                <img src="/img/user-icon.png" alt="user-icon">
                                <span>6 servings</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="lat-recipe">
                    <div class="lat-recipe-img">
                        <img src="/img/home-img1.jpg" alt="breakfast-icon">
                        <button>breakfast</button>
                    </div>

                    <div class="lat-recipe-dscrp">
                        <hr class="custom-hrs lat">
                        <h3>Almond & orange crepes</h3>
                        <p>Lorem ipsum dolor sit amet conse dolo ctetur adipiscing elit dictum.</p>
                        <div class="general-divider"></div>

                        <div class="lat-recipe-details">
                            <div>
                                <img src="/img/clock-icon.png" alt="clock-icon">
                                <span>30 min</span>
                            </div>

                            <div>
                                <img src="/img/user-icon.png" alt="user-icon">
                                <span>6 servings</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="lat-recipe">
                    <div class="lat-recipe-img">
                        <img src="/img/home-img1.jpg" alt="breakfast-icon">
                        <button>breakfast</button>
                    </div>

                    <div class="lat-recipe-dscrp">
                        <hr class="custom-hrs lat">
                        <h3>Almond & orange crepes</h3>
                        <p>Lorem ipsum dolor sit amet conse dolo ctetur adipiscing elit dictum.</p>
                        <div class="general-divider"></div>

                        <div class="lat-recipe-details">
                            <div>
                                <img src="/img/clock-icon.png" alt="clock-icon">
                                <span>30 min</span>
                            </div>

                            <div>
                                <img src="/img/user-icon.png" alt="user-icon">
                                <span>6 servings</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="lat-recipe">
                    <div class="lat-recipe-img">
                        <img src="/img/home-img1.jpg" alt="breakfast-icon">
                        <button>breakfast</button>
                    </div>

                    <div class="lat-recipe-dscrp">
                        <hr class="custom-hrs lat">
                        <h3>Almond & orange crepes</h3>
                        <p>Lorem ipsum dolor sit amet conse dolo ctetur adipiscing elit dictum.</p>
                        <div class="general-divider"></div>

                        <div class="lat-recipe-details">
                            <div>
                                <img src="/img/clock-icon.png" alt="clock-icon">
                                <span>30 min</span>
                            </div>

                            <div>
                                <img src="/img/user-icon.png" alt="user-icon">
                                <span>6 servings</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="email-signup-container">
            <div class="email-dscrp">
                <div class="email-header">
                    <img src="/img/email.png" alt="email">
                    <h1>Free recipes on your inbox</h1>
                </div>
                <p>Subscribe to our newsletter and receive our best recipes of the week, right on your inbox</p>
            </div>

           <div class="email-signup">
                <div class="email-input">
                    <div class="email-input-container">
                        <img src="/img/email.png" alt="email">
                        <input type="email" placeholder="enter your email">
                    </div>
                    <button>subscribe</button>
                </div>
                <div class="email-input-stats">
                    <img src="/img/checkmark-icon.png" alt="checkmark-icon">
                    <p>Join the N - number of persons that choose healthy food</p>
                </div>
           </div>
        </div>
    </div>
</section>

<section class="fifth-sect"> <!-- Fifth Section | About Site-->
    <div class="fts-wrapper">
        <div class="fts-leftside">
            <div class="fts-socials-container">
                <img src="/img/community-img.jpg" alt="community-img">
                <div class="site-social-links">
                    <h2>Delights</h2>
                    <span>Chef, Food Vlogger and Entrepreneur</span>
                    <div class="social-links">
                        <a href="">
                            <img src="/img/instagram-icon.png" alt="instagram-icon">
                        </a>
                        <a href="">
                            <img src="/img/facebook-icon.png" alt="facebook-icon">
                        </a>
                        <a href="">
                            <img src="/img/linkedin-icon.png" alt="linkedin-icon">
                        </a>
                        <a href="">
                            <img src="/img/youtube-icon.png" alt="youtube-icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="fts-rightside">
            <div class="fts-site-details">
                <hr class="custom-hrs fts">
                <h2>About Delights</h2>
                <p>Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat aute irure dolor in reprehenderit ute irure dolor in.</p>
                <ul>
                    <li>Ut enim ad minim veniam quis nostrud exercitation</li>
                    <li>Ut enim ad minim veniam quis nostrud exercitation</li>
                    <li>Ut enim ad minim veniam quis nostrud exercitation</li>
                </ul>
                <button>more about delights</button>
            </div>
        </div>
    </div>
</section>

<section class="sixth-sect"> <!-- Sixth Section | Social Media Highlights -->
    <div class="sxt-wrapper">
        <div class="sxt-heading">
            <h2>Follow my journey on Instagram</h2>
            <button>follow us</button>
        </div>

        <div class="instagram-fliks">
            <a href="">
                <img src="/img/home-img1.jpg" alt="home-img1">
            </a>
    
            <a href="">
                <img src="/img/home-img1.jpg" alt="home-img1">
            </a>
    
            <a href="">
                <img src="/img/home-img1.jpg" alt="home-img1">
            </a>
    
            <a href="">
                <img src="/img/home-img1.jpg" alt="home-img1">
            </a>
    
            <a href="">
                <img src="/img/home-img1.jpg" alt="home-img1">
            </a>
        </div>
    </div>
</section>
