<!-- Copyright © 2023 Jaime Arturo Palacios Estrada. All rights reserved. -->

<!-- The content and images on this website are protected by copyright law. -->
<!-- You may not reproduce, distribute, or transmit any part of this website or its 
     content in any form without our written permission. -->

<section class="first-sect"> <!-- First Section-->
    <div class="f-left-side">
        <div class="fls-wrapper">
            <div class="fls-content">
                <hr class="custom-hrs fsec-hr">
                <h1>Come & explore my nutritious and delicious recipes</h1>
                <p>Indulge in culinary excellence within our vibrant community of food enthusiasts.</p>
                <div class="fls-btns">
                    <a href="/recipes">
                        <button class="btt-btns">
                            <span class="btt-txt">discover recipes</span>
                            <div class="btt-slide"></div>
                        </button>
                    </a>
                    <a href="/about">
                        <button class="ttb-btns">
                            <span class="ttb-txt">about us </span>
                            <div class="ttb-slide"></div>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="f-right-side">
        <div class="frs-wrapper">
            <div class="frs-content">
                <div class="frs-left-imgs">
                    <img src="/img/home-img1.jpg" alt="home-img1">
                    <img src="/img/home-img1.jpg" alt="home-img1">
                </div>

                <div class="frs-right-imgs">
                    <img src="/img/home-img1.jpg" alt="home-img1">
                    <img src="/img/home-img1.jpg" alt="home-img1">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="second-sect"> <!-- Second Section | Main Categories -->
<div class="ss-wrapper">
    <h2>Browse recipes by category</h2>
    <div class="ss-categories">
        <a href="/recipes/breakfast">
            <figure>
                <img src="/img/breakfast-icon.png" alt="breakfast-icon">
            </figure>
            <hr class="custom-hrs ssect-hr">
            <h3>Breakfast</h3>
            <p>Recipes ideal for the first meal of the day</p>
        </a>

        <a href="/recipes/lunch">
            <figure>
                <img src="/img/lunch-icon.png" alt="lunch-icon">
            </figure>
            <hr class="custom-hrs ssect-hr">
            <h3>Lunch</h3>
            <p>Typically consumed between breakfast and dinner</p>
        </a>

        <a href="/recipes/beverages">
            <figure>
                <img src="/img/beverage-icon.png" alt="beverage-icon">
            </figure>
            <hr class="custom-hrs ssect-hr">
            <h3>Beverages</h3>
            <p>Recipes for various types of drinks</p>
        </a>

        <a href="/recipes/lunch">
            <figure>
                <img src="/img/dessert-icon.png" alt="dessert-icon">
            </figure>
            <hr class="custom-hrs ssect-hr">
            <h3>Desserts</h3>
            <p>Treats that conclude with a sweet and satisfying note</p>
        </a>
    </div>
</div>
</section>

<section class="third-sect"> <!-- Third Section | Featured Recipes -->
<div class="ts-wrapper">
    <div class="ts-heading">
        <h2>Browse our featured recipes</h2>
        <div class="tsh-btns">
            <button><</button>
            <button>></button>
        </div>
    </div>
    
    <div class="feat-recipes">
        <a href="">
            <div class="ft-recipe">
                <div class="ft-recipe-img">
                    <img src="/img/home-img1.jpg" alt="home-img1">
                    <button>featured</button>
                </div>

                <div class="ft-recipe-dscrp">
                    <hr class="custom-hrs ft">
                    <h3>Almond & orange crepes</h3>
                    <p>Lorem ipsum dolor sit amet conse dolo ctetur adipiscing elit dictum.</p>
                    <div class="general-divider"></div>
                    <div class="ft-recipe-details">
                        <div>
                            <img src="/img/clock-icon.png" alt="clock-icon">
                            <span>25 min</span>
                        </div>

                        <div>
                            <img src="/img/user-icon.png" alt="user-icon">
                            <span>6 servings</span>
                        </div>
                        <div>
                            <img src="/img/difficulty-icon.png" alt="difficulty-icon">
                            <span>easy</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="">
            <div class="ft-recipe">
                <div class="ft-recipe-img">
                    <img src="/img/home-img1.jpg" alt="home-img1">
                    <button>featured</button>
                </div>

                <div class="ft-recipe-dscrp">
                    <hr class="custom-hrs ft">
                    <h3>Almond & orange crepes</h3>
                    <p>Lorem ipsum dolor sit amet conse dolo ctetur adipiscing elit dictum.</p>
                    <div class="general-divider"></div>
                    <div class="ft-recipe-details">
                        <div>
                            <img src="/img/clock-icon.png" alt="clock-icon">
                            <span>25 min</span>
                        </div>

                        <div>
                            <img src="/img/user-icon.png" alt="user-icon">
                            <span>6 servings</span>
                        </div>
                        <div>
                            <img src="/img/difficulty-icon.png" alt="difficulty-icon">
                            <span>easy</span>
                        </div>
                    </div>
                </div>
            </div> 
        </a>
    </div>
</div>
<button class="btt-btns">
    <span class="btt-txt">discover recipes</span>
    <div class="btt-slide"></div>
</button>
</section>

<section class="fourth-sect"> <!-- Fourth Section | Latest Recipes -->
<div class="fths-wrapper">
    <div class="fs-heading">
        <h2>Browse our latest recipes</h2>
        <button class="ttb-btns">
            <span class="ttb-txt">browse all recipes</span>
            <div class="ttb-slide"></div>
        </button>
    </div>

    <div class="latest_recipes">
        <a href="">
            <div class="lat_recipe">
                <div class="lat_recipe_img">
                    <img src="/img/home-img1.jpg" alt="breakfast-icon">
                    <button>breakfast</button>
                </div>

                <div class="lat_recipe_dscrp">
                    <hr class="custom-hrs lat">
                    <h3>Almond & orange crepes</h3>
                    <p>Lorem ipsum dolor sit amet conse dolo ctetur adipiscing elit dictum.</p>
                    <div class="general-divider"></div>

                    <div class="lat-recipe-details">
                        <div>
                            <img src="/img/clock-icon.png" alt="clock-icon">
                            <span>30 min</span>
                        </div>

                        <div>
                            <img src="/img/user-icon.png" alt="user-icon">
                            <span>6 servings</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="">
            <div class="lat_recipe">
                <div class="lat_recipe_img">
                    <img src="/img/home-img1.jpg" alt="breakfast-icon">
                    <button>breakfast</button>
                </div>

                <div class="lat_recipe_dscrp">
                    <hr class="custom-hrs lat">
                    <h3>Almond & orange crepes</h3>
                    <p>Lorem ipsum dolor sit amet conse dolo ctetur adipiscing elit dictum.</p>
                    <div class="general-divider"></div>

                    <div class="lat-recipe-details">
                        <div>
                            <img src="/img/clock-icon.png" alt="clock-icon">
                            <span>30 min</span>
                        </div>

                        <div>
                            <img src="/img/user-icon.png" alt="user-icon">
                            <span>6 servings</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="">
            <div class="lat_recipe">
                <div class="lat_recipe_img">
                    <img src="/img/home-img1.jpg" alt="breakfast-icon">
                    <button>breakfast</button>
                </div>

                <div class="lat_recipe_dscrp">
                    <hr class="custom-hrs lat">
                    <h3>Almond & orange crepes</h3>
                    <p>Lorem ipsum dolor sit amet conse dolo ctetur adipiscing elit dictum.</p>
                    <div class="general-divider"></div>

                    <div class="lat-recipe-details">
                        <div>
                            <img src="/img/clock-icon.png" alt="clock-icon">
                            <span>30 min</span>
                        </div>

                        <div>
                            <img src="/img/user-icon.png" alt="user-icon">
                            <span>6 servings</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="">
            <div class="lat_recipe">
                <div class="lat_recipe_img">
                    <img src="/img/home-img1.jpg" alt="breakfast-icon">
                    <button>breakfast</button>
                </div>

                <div class="lat_recipe_dscrp">
                    <hr class="custom-hrs lat">
                    <h3>Almond & orange crepes</h3>
                    <p>Lorem ipsum dolor sit amet conse dolo ctetur adipiscing elit dictum.</p>
                    <div class="general-divider"></div>

                    <div class="lat-recipe-details">
                        <div>
                            <img src="/img/clock-icon.png" alt="clock-icon">
                            <span>30 min</span>
                        </div>

                        <div>
                            <img src="/img/user-icon.png" alt="user-icon">
                            <span>6 servings</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="">
            <div class="lat_recipe">
                <div class="lat_recipe_img">
                    <img src="/img/home-img1.jpg" alt="breakfast-icon">
                    <button>breakfast</button>
                </div>

                <div class="lat_recipe_dscrp">
                    <hr class="custom-hrs lat">
                    <h3>Almond & orange crepes</h3>
                    <p>Lorem ipsum dolor sit amet conse dolo ctetur adipiscing elit dictum.</p>
                    <div class="general-divider"></div>

                    <div class="lat-recipe-details">
                        <div>
                            <img src="/img/clock-icon.png" alt="clock-icon">
                            <span>30 min</span>
                        </div>

                        <div>
                            <img src="/img/user-icon.png" alt="user-icon">
                            <span>6 servings</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="">
            <div class="lat_recipe">
                <div class="lat_recipe_img">
                    <img src="/img/home-img1.jpg" alt="breakfast-icon">
                    <button>breakfast</button>
                </div>

                <div class="lat_recipe_dscrp">
                    <hr class="custom-hrs lat">
                    <h3>Almond & orange crepes</h3>
                    <p>Lorem ipsum dolor sit amet conse dolo ctetur adipiscing elit dictum.</p>
                    <div class="general-divider"></div>

                    <div class="lat-recipe-details">
                        <div>
                            <img src="/img/clock-icon.png" alt="clock-icon">
                            <span>30 min</span>
                        </div>

                        <div>
                            <img src="/img/user-icon.png" alt="user-icon">
                            <span>6 servings</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
</section>

<section class="fifth-sect"> <!-- Fifth Section | About Site-->
<div class="fts-wrapper">
    <div class="fts-leftside">
        <div class="fts-socials-container">
            <img src="/img/community-img.jpg" alt="community-img">
            <div class="site-social-links">
                <h2>Delights</h2>
                <span>Chef, Food Vlogger and Entrepreneur</span>
                <div class="social-links">
                    <a href="">
                        <img class="def-img" src="/img/instagram-icon.png" alt="instagram-icon">
                        <img class="hover-img" src="/img/instagram-icon-refactored.png" alt="instagram-icon">
                    </a>
                    <a href="">
                        <img class="def-img" src="/img/facebook-icon.png" alt="facebook-icon">
                        <img class="hover-img" src="/img/facebook-icon-refactored.png" alt="instagram-icon">
                    </a>
                    <a href="">
                        <img class="def-img" src="/img/linkedin-icon.png" alt="linkedin-icon">
                        <img class="hover-img" src="/img/linkedin-icon-refactored.png" alt="instagram-icon">
                    </a>
                    <a href="">
                        <img class="def-img" src="/img/youtube-icon.png" alt="youtube-icon">
                        <img class="hover-img" src="/img/youtube-icon-refactored.png" alt="instagram-icon">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="fts-rightside">
        <div class="fts-site-details">
            <hr class="custom-hrs fts">
            <h2>About Delights</h2>
            <p>We started as a global gathering of food enthusiasts, sharing our love for cooking and dining. Now, it's a vibrant online community where all backgrounds unite to:</p>
            <!-- <ul>
                <li>
                    <div class="bullet-dot">
                        <div>Share recipes</div>
                    </div>
                </li>
                <li>Connect with fellow food lovers</li>
                <li>Earn culinary expert status</li>
            </ul> -->
            <ul class="about-list">
                <li>
                    <div class="bullet-dot"></div>
                    <div>Share recipes</div>
                </li>
                <li>
                    <div class="bullet-dot"></div>
                    <div>Connect with fellow food lovers</div>
                </li>
                <li>
                    <div class="bullet-dot"></div>
                    <div>Earn culinary expert status</div>
                </li>
            </ul>
            <button class="btt-btns">
                <span class="btt-txt">more about us</span>
                <div class="btt-slide"></div>
            </button>
        </div>
    </div>
</div>
</section>

<section class="sixth-sect"> <!-- Sixth Section | Social Media Highlights -->
<div class="sxt-wrapper">
    <div class="sxt-heading">
        <h2>Follow my journey on Instagram</h2>
        <button class="ttb-btns">
            <span class="ttb-txt">follow us </span>
            <div class="ttb-slide"></div>
        </button>
    </div>

    <div class="instagram-fliks">
        <a href="">
            <div class="fliks-container">
                <img src="/img/home-img1.jpg" alt="home-img1">
            </div>
        </a>

        <a href="">
            <div class="fliks-container">
                <img src="/img/home-img1.jpg" alt="home-img1">
            </div>
        </a>

        <a href="">
            <div class="fliks-container">
                <img src="/img/home-img1.jpg" alt="home-img1">
            </div>
        </a>

        <a href="">
            <div class="fliks-container">
                <img src="/img/home-img1.jpg" alt="home-img1">
            </div>
        </a>

        <a href="">
            <div class="fliks-container">
                <img src="/img/home-img1.jpg" alt="home-img1">
            </div>
        </a>
    </div>
</div>
</section>
