<!-- Copyright © 2023 Jaime Arturo Palacios Estrada. All rights reserved. -->

<!-- The content and images on this website are protected by copyright law. -->
<!-- You may not reproduce, distribute, or transmit any part of this website or its 
     content in any form without our written permission. -->

<section class="first-sect">
    <div class="feat_recipe_wrapper">
        <div class="featured_recipe_container">
            <div class="featured_recipe_head">
                <h2>Our recipes</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt ut labore et dolore magna aliqua ut</p>
            </div>

            <div class="feat_recipe">
                <div class="feat_recipe_img">
                    <img src="/img/home-img1.jpg" alt="home-img1">
                    <button>category</button>
                </div>

                <div class="feat_recipe_descp_container">
                    <div class="ft_recipe_descp_content">
                        <hr class="custom-hrs ftr-divider">
                        <h3>Almond & orange crepes</h3>
                        <p>Lorem ipsum dolor sit amet conse dolo ctetur adipiscing elit dictum.</p>
                        <div class="general-divider"></div>
                        <div class="ft_recipe_details">
                            <div>
                                <img src="/img/clock-icon.png" alt="clock-icon">
                                <span>25 min</span>
                            </div>

                            <div>
                                <img src="/img/user-icon.png" alt="user-icon">
                                <span>6 servings</span>
                            </div>
                            <div>
                                <img src="/img/difficulty-icon.png" alt="difficulty-icon">
                                <span>easy</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="second_sect">
    <div class="email_signup_wrapper">
        <div class="email-signup-container hov">
            <div class="email-dscrp">
                <div class="email-header">
                    <img src="/img/email.png" alt="email">
                    <div class="email-header-txt">
                        <h2>Free recipes on your inbox</h2>
                        <p>Subscribe to our newsletter and receive our best recipes of the week, right on your inbox</p>
                    </div>
                </div>
            </div>
    
           <div class="email-signup">
                <div class="email-input">
                    <div class="email-input-container">
                        <img src="/img/email.png" alt="email">
                        <input type="email" placeholder="enter your email">
                    </div>
                    <button class="btt-btns">
                        <span class="btt-txt">subscribe</span>
                        <div class="btt-slide"></div>
                    </button>
                </div>
                <div class="email-input-stats">
                    <img src="/img/checkmark-icon.png" alt="checkmark-icon">
                    <p>Join the N - number of persons that choose healthy food</p>
                </div>
           </div>
        </div>
    </div>
</section>




<section class="third_sect">
    <div class="latest_recipes_wrapper">
        <div class="latest_recipes_header">
            <h2>Latest recipes</h2>
            
            <div class="category_options">
                <button>all</button>
                <button>breakfast</button>
                <button>lunch</button>
                <button>beverage</button>
                <button id="neglect_positioning">dessert</button>
            </div>
        </div>

        <div class="latest_recipes">
            <a href="">
                <div class="lat_recipe">
                    <div class="lat_recipe_img">
                        <img src="/img/home-img1.jpg" alt="breakfast-icon">
                        <button>breakfast</button>
                    </div>
    
                    <div class="lat_recipe_dscrp">
                        <hr class="custom-hrs lat">
                        <h3>Almond & orange crepes</h3>
                        <p>Lorem ipsum dolor sit amet conse dolo ctetur adipiscing elit dictum.</p>
                        <div class="general-divider"></div>
    
                        <div class="lat-recipe-details">
                            <div>
                                <img src="/img/clock-icon.png" alt="clock-icon">
                                <span>30 min</span>
                            </div>
    
                            <div>
                                <img src="/img/user-icon.png" alt="user-icon">
                                <span>6 servings</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
    
            <a href="">
                <div class="lat_recipe">
                    <div class="lat_recipe_img">
                        <img src="/img/home-img1.jpg" alt="breakfast-icon">
                        <button>breakfast</button>
                    </div>
    
                    <div class="lat_recipe_dscrp">
                        <hr class="custom-hrs lat">
                        <h3>Almond & orange crepes</h3>
                        <p>Lorem ipsum dolor sit amet conse dolo ctetur adipiscing elit dictum.</p>
                        <div class="general-divider"></div>
    
                        <div class="lat-recipe-details">
                            <div>
                                <img src="/img/clock-icon.png" alt="clock-icon">
                                <span>30 min</span>
                            </div>
    
                            <div>
                                <img src="/img/user-icon.png" alt="user-icon">
                                <span>6 servings</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
    
            <a href="">
                <div class="lat_recipe">
                    <div class="lat_recipe_img">
                        <img src="/img/home-img1.jpg" alt="breakfast-icon">
                        <button>breakfast</button>
                    </div>
    
                    <div class="lat_recipe_dscrp">
                        <hr class="custom-hrs lat">
                        <h3>Almond & orange crepes</h3>
                        <p>Lorem ipsum dolor sit amet conse dolo ctetur adipiscing elit dictum.</p>
                        <div class="general-divider"></div>
    
                        <div class="lat-recipe-details">
                            <div>
                                <img src="/img/clock-icon.png" alt="clock-icon">
                                <span>30 min</span>
                            </div>
    
                            <div>
                                <img src="/img/user-icon.png" alt="user-icon">
                                <span>6 servings</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
    
            <a href="">
                <div class="lat_recipe">
                    <div class="lat_recipe_img">
                        <img src="/img/home-img1.jpg" alt="breakfast-icon">
                        <button>breakfast</button>
                    </div>
    
                    <div class="lat_recipe_dscrp">
                        <hr class="custom-hrs lat">
                        <h3>Almond & orange crepes</h3>
                        <p>Lorem ipsum dolor sit amet conse dolo ctetur adipiscing elit dictum.</p>
                        <div class="general-divider"></div>
    
                        <div class="lat-recipe-details">
                            <div>
                                <img src="/img/clock-icon.png" alt="clock-icon">
                                <span>30 min</span>
                            </div>
    
                            <div>
                                <img src="/img/user-icon.png" alt="user-icon">
                                <span>6 servings</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
    
            <a href="">
                <div class="lat_recipe">
                    <div class="lat_recipe_img">
                        <img src="/img/home-img1.jpg" alt="breakfast-icon">
                        <button>breakfast</button>
                    </div>
    
                    <div class="lat_recipe_dscrp">
                        <hr class="custom-hrs lat">
                        <h3>Almond & orange crepes</h3>
                        <p>Lorem ipsum dolor sit amet conse dolo ctetur adipiscing elit dictum.</p>
                        <div class="general-divider"></div>
    
                        <div class="lat-recipe-details">
                            <div>
                                <img src="/img/clock-icon.png" alt="clock-icon">
                                <span>30 min</span>
                            </div>
    
                            <div>
                                <img src="/img/user-icon.png" alt="user-icon">
                                <span>6 servings</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
    
            <a href="">
                <div class="lat_recipe">
                    <div class="lat_recipe_img">
                        <img src="/img/home-img1.jpg" alt="breakfast-icon">
                        <button>breakfast</button>
                    </div>
    
                    <div class="lat_recipe_dscrp">
                        <hr class="custom-hrs lat">
                        <h3>Almond & orange crepes</h3>
                        <p>Lorem ipsum dolor sit amet conse dolo ctetur adipiscing elit dictum.</p>
                        <div class="general-divider"></div>
    
                        <div class="lat-recipe-details">
                            <div>
                                <img src="/img/clock-icon.png" alt="clock-icon">
                                <span>30 min</span>
                            </div>
    
                            <div>
                                <img src="/img/user-icon.png" alt="user-icon">
                                <span>6 servings</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <button class="btt-btns pagination_btn">
            <span class="btt-txt">next</span>
            <div class="btt-slide"></div>
        </button>
    </div>
</section>
<div class="general-divider"></div>