<section class="first-sect">
    <div class="f-left-side">
        <div class="fls-wrapper">
            <div class="fls-content">
                <hr>
                <h1>Come & explore my nutritious and delicious recipes</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut.</p>
                <div class="fls-btns">
                    <a href="/recipes">
                        <button class="btw-btns">discover recipes</button>
                    </a>
                    <a href="/about">
                        <button class="wtb-btns">about</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="f-right-side">
        <div class="frs-wrapper">
            <div class="frs-content">
                <div class="frs-left-imgs">
                    <img src="/img/home-img1.jpg" alt="home-img1">
                    <img src="/img/home-img1.jpg" alt="home-img1">
                </div>

                <div class="frs-right-imgs">
                    <img src="/img/home-img1.jpg" alt="home-img1">
                    <img src="/img/home-img1.jpg" alt="home-img1">
                </div>
            </div>
        </div>
    </div>
</section>


